header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #CCCCCC;
}

header div {
    display: block;
    height: 70px;
    width: 100%;
    background-image: url(/images/logo.png);
    background-repeat: no-repeat;
    margin-left: 20px;
}
